@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript
{
    @Html.IncludeJS(Url.Content("~/Content/Scripts/Home.js"))
}
<div>
    <div id="infoHistoryLogin">
        @if (ViewBag.HistoryLoginMessage == null)
        {
            <text>Olá <strong>@Intranet.Helpers.Sessions.ADUser.Name</strong>, este é o seu primeiro acesso</text>
        }
        else
        {
            var historyLogin = ViewBag.HistoryLoginMessage as Intranet.Data.Entities.HistoryLogin;  
            <text>Olá <strong>@Intranet.Helpers.Sessions.ADUser.Name</strong>, seu último acesso foi em 
            <strong>@historyLogin.AccessDate.ToString("dd/MM/yyyy")</strong> ás <strong>@historyLogin.AccessDate.ToString("HH:mm:ss")</strong> - Total de acessos: <strong>@historyLogin.TotalAccess</strong></text>
        }
    </div>
</div>
