@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css
{
    @Html.IncludeCSS(Url.Content("~/Content/Css/Perfil.css"))
}
@section JavaScript
{
    @Html.IncludeJS(Url.Content("~/Content/Scripts/Perfil.js"))
}
<h2>Cadastros - Perfil</h2>
<div id="barraFerramentas">
    <div style="float: left; margin-right: 5px;">
        <a class="button" id="btnNovo"><strong>Novo</strong></a>
    </div>
    <div style="float: left; margin-right: 5px;">
        <a class="button" id="btnSalvar"><strong>Salvar</strong></a>
    </div>
    <div style="float: left; margin-right: 5px;">
        <a class="button" id="btnBuscar"><strong>Buscar</strong></a>
    </div>
</div>
<div>
    @using (Html.BeginForm())
    {        
        <input type="hidden" id="hdnId" name="hdnId" value="" />
        <table class="tblForm" cellpadding="0" cellspacing="0">
            <tr>
                <td>Nome</td>
                <td>
                    @Html.IntranetTextBox("txtNome", "", false)
                </td>
            </tr>
        </table>
        <div style="clear: both;"></div>
        foreach (var item in new Intranet.Data.ADO.MenuADO(null).LoadById(null))
        {
        <div class="divProfileModules">
            <div class="divTitleModules">
                @if (item.Menus.Count.Equals(0))
                {
                    <input type="checkbox" class="inputChkParent chkDisabled" id="chkMenu" disabled="disabled" checked="checked" name="chkMenu" value="@item.Id" /><span>@item.Name</span>
                }
                else
                {
                    <input type="checkbox" class="inputChkParent" id="chkMenu" name="chkMenu" value="@item.Id" /><span>@item.Name</span>
                }
            </div>
            @foreach (var subItem in item.Menus)
            {
                <div class="divModules">
                    <div class="divModule">
                        <input type="checkbox" class="inputChk" id="chkMenu" name="chkMenu" value="@subItem.Id" /><span>@subItem.Name</span>
                    </div>
                </div>
            }
        </div>   
        }
    }
</div>
