@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>INTRANET</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/vnd.microsoft.icon" />
    @Html.IncludeCSS(Url.Content("~/Content/Css/Site.css"))
    @Html.IncludeCSS(Url.Content("~/Content/Css/Tema/smoothness/jquery-ui-1.8.18.custom.css"))
    @Html.IncludeJS(Url.Content("~/Content/Scripts/jquery-1.5.1.min.js"))
    @Html.IncludeJS(Url.Content("~/Content/Scripts/jquery-ui-1.8.18.custom.min.js"))
    @Html.IncludeJS(Url.Content("~/Content/Scripts/Login.js"))
</head>
<body>
    <div>
        @{Html.RenderPartial("_Header");}
        @using (Html.BeginForm())
        { 
            <div id="divLogin">
                <div class="divLoginTitle">
                    @Intranet.Resources.Geral.AutenticacaoSistema
                </div>
                <div class="divLoginForm">
                    <div style="margin-bottom: 5px;">
                        <div style="margin-bottom: 3px;">
                            <strong>@Intranet.Resources.Geral.Usuario</strong>
                        </div>
                        <div>
                            @Html.TextBox("UserName", null, new { @class = "txtInput", style = "width:290px; padding: 6px !important; font-size: 12px;" })
                        </div>
                    </div>
                    <div style="margin-bottom: 5px;">
                        <div style="margin-bottom: 3px;">
                            <strong>@Intranet.Resources.Geral.Senha</strong>
                        </div>
                        <div>
                            @Html.Password("Password", null, new { @class = "txtInput", style = "width:290px; padding: 6px !important; font-size: 12px;" })
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="@Intranet.Resources.Geral.Entrar" />&nbsp;<span
                            class="spanMessage">@ViewData["Message"]</span>
                    </div>
                </div>
            </div>
            //@Html.ActionLink("Export", "Export")
            //@Html.ActionLink("PDF", "PDF")
        }
    </div>
</body>
</html>
